<!DOCTYPE html>
<html lang="en" ng-app="italiaApp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alex+Brush|Bilbo+Swash+Caps" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
     crossorigin="anonymous">
     
	<link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
</head>

<body>
	<header>
		<!--Mobile, showing sm -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light   d-block d-sm-none 	 d-none d-sm-block d-md-none">
			<a href="../index.html" class="logo">
				<img class="img-fluid" src="../assets/logos/piazza-italia.png" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
			 aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<!--<li class="nav-item active">-->
						<a class="nav-link" href="#">Enogastronomía
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Cultura y Arte</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Innovación</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Turismo</a>
					</li>
				</ul>
			</div>
		</nav>
		<!--Mobile end -->
		<!--desktop-->
		<!--hidden on xs, sm-->
		<nav class="d-none  d-sm-none d-md-block">
			<div class="container">
				<div class="row">
					<div class="col-2">
						<a href="../index.html" class="logo">
							<img class="img-fluid" src="../assets/logos/piazza-italia.png" alt="">
						</a>
					</div>

					<div class="col-10">
						<div class="menu">
							<div>
								<button>
									<i class="fas fa-store"></i>
									<span>Reserva un Stand</span>
								</button>
								<button>
									<i class="fas fa-ticket-alt"></i>
									<span>Compra entradas</span>
								</button>
							</div>
							<ul>
								<li>Enogastronomía</li>
								<li>|</li>
								<li>Cultura y Arte</li>
								<li>|</li>
								<li>Innovación</li>
								<li>|</li>
								<li>Turismo</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!--desktop end -->
	</header>
	<section class="restaurant">
		<div class="container">
			<div class="row">
                <div class="col-6">
                    <div class="r-stilo">
                        Conoce a los Restaurantes
                    </div>
                </div>
                <div class="col-6">
                    <div class="bottonn">
                        <button id="driver-vehicle-btn" class="btn btn-default dropdown-toggle btn-list" type="button" data-toggle="dropdown">Distrito
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <a class="dropdown-item" href="#">Miraflores</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">San Isidro</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">Surco</a>
                            </li>
                          </ul>
                    </div>
                    
                </div>

			</div>
		</div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="../assets/images/Plano-Piazza-Italia.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col 6">
					<div class="social-network">
						Encuentranos en :
						<i class="fab fa-facebook-f"></i>
					</div>
				</div>
				<div class="col 6">
					<div class="team">
						Conoce al equipo
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<script src="../js/app.js"></script>
</body>

</html>