@font-face {
    font-family: 'Lucida Bright';
    src: url('LucidaBright-Italic.eot');
    src: url('LucidaBright-Italic.eot?#iefix') format('embedded-opentype'),
        url('LucidaBright-Italic.woff2') format('woff2'),
        url('LucidaBright-Italic.woff') format('woff'),
        url('LucidaBright-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lucida Bright';
    src: url('LucidaBright-Italic_1.eot');
    src: url('LucidaBright-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('LucidaBright-Italic_1.woff2') format('woff2'),
        url('LucidaBright-Italic_1.woff') format('woff'),
        url('LucidaBright-Italic_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lucida Bright';
    src: url('LucidaBright-Italic_2.eot');
    src: url('LucidaBright-Italic_2.eot?#iefix') format('embedded-opentype'),
        url('LucidaBright-Italic_2.woff2') format('woff2'),
        url('LucidaBright-Italic_2.woff') format('woff'),
        url('LucidaBright-Italic_2.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

