@font-face {
  font-family: 'Lucida Bright';
  src: url('LucidaBright-Italic.eot');
  src: url('LucidaBright-Italic.eot?#iefix') format('embedded-opentype'),
      url('LucidaBright-Italic.woff2') format('woff2'),
      url('LucidaBright-Italic.woff') format('woff'),
      url('LucidaBright-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
	font-family: 'Roboto', sans-serif;
}
  
  
h1, h2, h3, h4 {
  font-family: 'Lucida Bright';
  font-style: italic;
  font-weight: 400;
}
  
.about, .auspiciador, .programa {
  padding: 2.5em 0;
}

$verde : #0C8D1F;
$amarillo : #ffeb83;;
//MENUS
.enogastronomia {
	padding-top: 1.5em;
	li {
		font-family: 'Quattrocento Sans', sans-serif;
		font-size: 1.2rem;
	}	
	.stands-list {
    margin-bottom: 3em;
		img {
				max-width: 60%;
				margin-bottom: 1em;
			}		
		ul {
			list-style: none;
		}
		.see-more {
			background-color: $verde;
			color: $amarillo;
			border: none;
			font-size: 1rem;
			padding: 0.2em 1em;
			border-radius: 20px;
			/* font-weight: 500; */
		}		
	}
}


//HEADER
header {
	.upper-nav {
		background-color: #000;
		color: #fff;
		border-top: 4px solid $verde;
		padding: 0.2em;
		font-size: 0.9rem;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 0;
			li {
				display: inline-block;
				text-decoration: none;
			}
		}
	}

	nav{
    background-color: #fff;
	}

	.mobile-menu {
		background-image: url("../../assets/images/background-header.png");
    padding-top: 1.2em;
		padding-bottom: 1.2em;
		button {
			background-color: #fff;
		}
		.mobile-main-button {
			display: inline;
			button {
				background-color: $verde;
				border: none;
				border-radius: 0.2em;
				color: #5f5f5f;
				cursor: pointer;
				float: right;
				font-size: 0.9rem;
				font-weight: 500;
				margin-right: 0.3em;
				margin-top: 0.5em;
				padding: 0.2em 1em;
				-webkit-box-shadow: 6px 5px 10px -7px rgba(47, 44, 44, 0.65);
					-moz-box-shadow: 6px 5px 10px -7px rgba(47, 44, 44, 0.65);
					box-shadow: 6px 5px 10px -7px rgba(47, 44, 44, 0.65);
				span {
					color: #fff;
				}
			}
		}		
	}
	
  .logo {
    display: inline-block;
  }

  .logo-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1px;
    z-index: 90;
		max-width: 131px;
		img {
			
			box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.19);
		}
  }

  .menu {
    float: right;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    width: 80%;
    justify-content: space-evenly;
			button{
				background-color: $verde;
				border: none;
				color: #fff;
				font-size: 0.9rem;
				padding: 0.3em 1.5em 0.3em 0.9em;
				border-radius: 0.2em;
				box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.19);
				cursor: pointer;
				span {
					margin-left: 0.8em;
					vertical-align: text-bottom;
				}
			}

		ul {
			list-style: none;
			display: inline-block;
			float: right;
			margin-top: 2.5em;
			li {
				color: #848688 !important;
				display: inline-block;
				font-size: 1rem;
				margin-left: 0.5em;
				cursor: pointer;
				a {
					text-decoration: none;
					color: #848688;
				}
				a:hover{
					color: $verde;
					font-weight: 500;
				}
			}
			li:active{
				color: #848688;
			}
			li:focus {
				color: #848688;
			}
		}

  }

  .menu-desktop {
    padding: 1.5em 0;
		background-image: url("../../assets/images/background-header.png");
		 a + p {
			color: white;
			font-size: 0.9rem;
			text-align: center;
			font-weight: 700;
		}
  }
}

  
//CAROUSEL
.carousel-item{ 
	img {
		height: 260px;
	}
  .carousel-caption {
    position: absolute;
    /* right: 15%; */
    bottom: 90px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    /* outline: 1px solid red; */
    width: 100%;
    /* opacity: 5; */
		background-color: #50505066;
		h3 {
			font-family: 'Lucida Bright';
			font-style: italic;
			font-weight: 400;
		}
  }
}
  
//PARALLAX
.paral {
  //min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
  
.paralTorre {
  background-image: url("../../assets/images/pisa-chico.jpg");
}

	  
.paralFood {
  background-image: url("../../assets/images/foto-parallax.jpg");
}
//SOBRE LA FERIA
.about {
	p {
		font-family: 'Quattrocento Sans', sans-serif;
		font-size: 1.2rem;
	}	
	.about-title {
		margin-bottom: 2.5em;
	}	
	.about-div {
		img {
			display: inline-block;
			width: 60%;
		}
	}	
}

//OBJETIVOS
.objective {
	p {
		font-family: 'Quattrocento Sans', sans-serif;
		font-size: 1.2rem;
	}	
	i {
		color: $verde;
		margin-right: 0.5em;
	}
}

//PROGRAMA
.programa {
	background-color: #f7f7f7;
  .fecha-div {
		h4{
			margin: 0;
		}
  }	
	.evento-div {
		margin-bottom: 3.5em;
		p {
			color: #fff;
			font-size: 1.1rem;
			margin-top: 1em;
		}
	}
	.calendar {
    margin-bottom: 3.5em;
	}
	.croquis {
    margin-bottom: 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
		align-items: center;
		#map {
			height: 238px;
			width: 260px;
		}		
	}
}

//Evento
.events {
	p {
		font-family: 'Quattrocento Sans', sans-serif;
		font-size: 1.2rem;
	}	

}  
//AUSPICIADOR 
.auspiciador {
	background-color: #f7f7f7;
	p {
		font-family: 'Quattrocento Sans', sans-serif;
		font-size: 1.2rem;
	}
	.auspiciadores {
		margin-top: 2.5em;
		.sponsors-icons {
			text-align: center;
			img {
				width: 25%;
				height: 10%;
				margin: 0.6em;
				box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.19);
			}
		}	
	}  	
}
 

//CONTACTO
.contact {
	//background-color: $verde;
  padding-top: 2em;
  padding-bottom: 2em;
  .register-info {
		padding: 0.2em 2em;
		p {
			font-size: 1.1rem;
			i {
					margin-right: 1em;
				}				
		}
		input {
			background-color: $verde;
			border: none;
			border-bottom: 2px solid #fff;
			color:#fff;
			font-size: 1.1rem;
			width: 100%;
		}
		input::-webkit-input-placeholder { 
			color: #fff; 
		}
		input::-moz-placeholder { 
			color: #fff; 
		}
		input::-ms-input-placeholder { 
			color: #fff; 
		}
	}
  .contactanos-div {
    margin-top: 3em;
  }	
	.contact-info {
		color: #fff;
    padding: 0.2em 2em;
		i {
				font-size: 1.5rem;
   			width: 12%;
			}		
		span {
			font-size: 1.1rem;
		}			
	}
  .arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
		margin-top: 2rem;
		i {
			font-size: 3rem;
			color: #f1f1f1;
		}
  }
}
 
  
//FOOTER
footer {
  background-color: #000;
  color: #fff;
  height: 70px;
  display: flex;
	align-items: center;
	.social-network {
		float: left !important;
		i {
			background-color: #fff;
			color: #000;
			border-radius: 100%;
			padding: 3px;
			width: 20px;
			text-align: center;
		}			
	}	
	.team {
		float: right !important;
	}
}
  
  /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	header {
		.upper-nav {
			ul {
				padding-left: 180px;
			}					
		}		
		.mobile-menu {
			.mobile-main-button {
				button {
					font-size: 1rem;
					padding: 0.2em 0.8em;
				} 			
			}			
		}
	}
    
	.carousel-item {
		img {
			height: 410px;
		}		
	}

	.contact {
		.contact-info {
			i {
				width: 9%;
			}				
		}
	}

}
  
  
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .paralTorre {
    background-image: url("../../assets/images/pisa.jpg");
  }

	.programa {
		.fecha-div {
			margin: 0 0.5em;
		}		
	}

	.carousel-item {
		img {
			height: 500px;
		}			
	}
	
	.auspiciador {
		.auspiciadores {
			.sponsors-icons {
				img {
    			width: 20%; 
				}
			}	
		}  	
	}
	
	.contact {
		.contact-info {
			i {
				width: 7%;
			}				
		}
	}

}
  
  
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .paralTorre {
    background-image: url("../../assets/images/pisa.jpg");
  }

  .logo img {
    width: 100px;
	}
	
  .carousel-item {
		img {
			height: 700px;
		}			
	} 
	
	.auspiciador {
		.auspiciadores {
			.sponsors-icons {
				img {
					width: 15%;
					height: 10%;
					margin: 0.6em;
				}
			}	
		}  	
	}
		
	.contact {
		.contact-info {
			i {
				width: 5%;
			}				
		}
	}
  
}
  
  
@media (min-width: 1200px) {
  .paralTorre {
		background-image: url("../../assets/images/pisa.jpg");
		background-size: auto;
  }
  /*HEADER*/
  .carousel-item {
		img {
			height: 700px;
		}			
	} 
}
  
  