@font-face {
  font-family: "Lucida Bright";
  src: url("LucidaBright-Italic.eot");
  src: url("LucidaBright-Italic.eot?#iefix") format("embedded-opentype"), url("LucidaBright-Italic.woff2") format("woff2"), url("LucidaBright-Italic.woff") format("woff"), url("LucidaBright-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Lucida Bright";
  font-style: italic;
  font-weight: 400;
}

.about, .auspiciador, .programa {
  padding: 2.5em 0;
}

.enogastronomia {
  padding-top: 1.5em;
}
.enogastronomia li {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.2rem;
}
.enogastronomia .stands-list {
  margin-bottom: 3em;
}
.enogastronomia .stands-list img {
  max-width: 60%;
  margin-bottom: 1em;
}
.enogastronomia .stands-list ul {
  list-style: none;
}
.enogastronomia .stands-list .see-more {
  background-color: #0C8D1F;
  color: #ffeb83;
  border: none;
  font-size: 1rem;
  padding: 0.2em 1em;
  border-radius: 20px;
  /* font-weight: 500; */
}

header .upper-nav {
  background-color: #000;
  color: #fff;
  border-top: 4px solid #0C8D1F;
  padding: 0.2em;
  font-size: 0.9rem;
}
header .upper-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}
header .upper-nav ul li {
  display: inline-block;
  text-decoration: none;
}
header nav {
  background-color: #fff;
}
header .mobile-menu {
  background-image: url("../../assets/images/background-header.png");
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}
header .mobile-menu button {
  background-color: #fff;
}
header .mobile-menu .mobile-main-button {
  display: inline;
}
header .mobile-menu .mobile-main-button button {
  background-color: #0C8D1F;
  border: none;
  border-radius: 0.2em;
  color: #5f5f5f;
  cursor: pointer;
  float: right;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 0.3em;
  margin-top: 0.5em;
  padding: 0.2em 1em;
  -webkit-box-shadow: 6px 5px 10px -7px rgba(47, 44, 44, 0.65);
  -moz-box-shadow: 6px 5px 10px -7px rgba(47, 44, 44, 0.65);
  box-shadow: 6px 5px 10px -7px rgba(47, 44, 44, 0.65);
}
header .mobile-menu .mobile-main-button button span {
  color: #fff;
}
header .logo {
  display: inline-block;
}
header .logo-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  z-index: 90;
  max-width: 131px;
}
header .logo-desktop img {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.19);
}
header .menu {
  float: right;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  width: 80%;
  justify-content: space-evenly;
}
header .menu button {
  background-color: #0C8D1F;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.3em 1.5em 0.3em 0.9em;
  border-radius: 0.2em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
header .menu button span {
  margin-left: 0.8em;
  vertical-align: text-bottom;
}
header .menu ul {
  list-style: none;
  display: inline-block;
  float: right;
  margin-top: 2.5em;
}
header .menu ul li {
  color: #848688 !important;
  display: inline-block;
  font-size: 1rem;
  margin-left: 0.5em;
  cursor: pointer;
}
header .menu ul li a {
  text-decoration: none;
  color: #848688;
}
header .menu ul li a:hover {
  color: #0C8D1F;
  font-weight: 500;
}
header .menu ul li:active {
  color: #848688;
}
header .menu ul li:focus {
  color: #848688;
}
header .menu-desktop {
  padding: 1.5em 0;
  background-image: url("../../assets/images/background-header.png");
}
header .menu-desktop a + p {
  color: white;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 700;
}

.carousel-item img {
  height: 260px;
}
.carousel-item .carousel-caption {
  position: absolute;
  /* right: 15%; */
  bottom: 90px;
  left: 0%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  /* outline: 1px solid red; */
  width: 100%;
  /* opacity: 5; */
  background-color: #50505066;
}
.carousel-item .carousel-caption h3 {
  font-family: "Lucida Bright";
  font-style: italic;
  font-weight: 400;
}

.paral {
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.paralTorre {
  background-image: url("../../assets/images/pisa-chico.jpg");
}

.paralFood {
  background-image: url("../../assets/images/foto-parallax.jpg");
}

.about p {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.2rem;
}
.about .about-title {
  margin-bottom: 2.5em;
}
.about .about-div img {
  display: inline-block;
  width: 60%;
}

.objective p {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.2rem;
}
.objective i {
  color: #0C8D1F;
  margin-right: 0.5em;
}

.programa {
  background-color: #f7f7f7;
}
.programa .fecha-div h4 {
  margin: 0;
}
.programa .evento-div {
  margin-bottom: 3.5em;
}
.programa .evento-div p {
  color: #fff;
  font-size: 1.1rem;
  margin-top: 1em;
}
.programa .calendar {
  margin-bottom: 3.5em;
}
.programa .croquis {
  margin-bottom: 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.programa .croquis #map {
  height: 238px;
  width: 260px;
}

.events p {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.2rem;
}

.auspiciador {
  background-color: #f7f7f7;
}
.auspiciador p {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.2rem;
}
.auspiciador .auspiciadores {
  margin-top: 2.5em;
}
.auspiciador .auspiciadores .sponsors-icons {
  text-align: center;
}
.auspiciador .auspiciadores .sponsors-icons img {
  width: 25%;
  height: 10%;
  margin: 0.6em;
  box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.19);
}

.contact {
  padding-top: 2em;
  padding-bottom: 2em;
}
.contact .register-info {
  padding: 0.2em 2em;
}
.contact .register-info p {
  font-size: 1.1rem;
}
.contact .register-info p i {
  margin-right: 1em;
}
.contact .register-info input {
  background-color: #0C8D1F;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1.1rem;
  width: 100%;
}
.contact .register-info input::-webkit-input-placeholder {
  color: #fff;
}
.contact .register-info input::-moz-placeholder {
  color: #fff;
}
.contact .register-info input::-ms-input-placeholder {
  color: #fff;
}
.contact .contactanos-div {
  margin-top: 3em;
}
.contact .contact-info {
  color: #fff;
  padding: 0.2em 2em;
}
.contact .contact-info i {
  font-size: 1.5rem;
  width: 12%;
}
.contact .contact-info span {
  font-size: 1.1rem;
}
.contact .arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2rem;
}
.contact .arrow i {
  font-size: 3rem;
  color: #f1f1f1;
}

footer {
  background-color: #000;
  color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
}
footer .social-network {
  float: left !important;
}
footer .social-network i {
  background-color: #fff;
  color: #000;
  border-radius: 100%;
  padding: 3px;
  width: 20px;
  text-align: center;
}
footer .team {
  float: right !important;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  header .upper-nav ul {
    padding-left: 180px;
  }
  header .mobile-menu .mobile-main-button button {
    font-size: 1rem;
    padding: 0.2em 0.8em;
  }

  .carousel-item img {
    height: 410px;
  }

  .contact .contact-info i {
    width: 9%;
  }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .paralTorre {
    background-image: url("../../assets/images/pisa.jpg");
  }

  .programa .fecha-div {
    margin: 0 0.5em;
  }

  .carousel-item img {
    height: 500px;
  }

  .auspiciador .auspiciadores .sponsors-icons img {
    width: 20%;
  }

  .contact .contact-info i {
    width: 7%;
  }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .paralTorre {
    background-image: url("../../assets/images/pisa.jpg");
  }

  .logo img {
    width: 100px;
  }

  .carousel-item img {
    height: 700px;
  }

  .auspiciador .auspiciadores .sponsors-icons img {
    width: 15%;
    height: 10%;
    margin: 0.6em;
  }

  .contact .contact-info i {
    width: 5%;
  }
}
@media (min-width: 1200px) {
  .paralTorre {
    background-image: url("../../assets/images/pisa.jpg");
    background-size: auto;
  }

  /*HEADER*/
  .carousel-item img {
    height: 700px;
  }
}

/*# sourceMappingURL=main.css.map */
